<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Placed</a>
      <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-control="navbarNav"
      aria-expanded="false"
      aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!this.companyservice.isUserLogin() ">
            <a class="nav-link" [routerLink]="['login']" >Login</a>
          </li>
          <!-- <li class="nav-item right" *ngIf="this.companyservice.isUserLogin()">
            <a class="nav-link" (click)="onClick()" href="#" >Logout</a>
          </li> -->
          <li class="nav-item" *ngIf="this.companyservice.isUserLogin()">
            <a class="nav-link" [routerLink]="[this.companyservice.getRole()+'-company']">CompanyList</a>
          </li>
          <li class="nav-item dropdown" *ngIf="this.companyservice.isUserLogin()">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" >
              PlacementSchedule
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="nav-link" *ngIf="this.companyservice.getRole()=='admin' " [routerLink]="['/upcoming-list']">Upcoming</a>
                <a class="nav-link" *ngIf="this.companyservice.getRole()=='student' " [routerLink]="['/student-upcoming']">Upcoming</a>
              </li>
              <li><a class="nav-link" [routerLink]="['/past-list']">Past</a></li>
            </ul>
          </li>
          <li class="nav-item right" *ngIf="this.companyservice.isUserLogin()">
            <a class="nav-link" [routerLink]="['enrolled-'+this.companyservice.getRole()]">EnrolledList</a>
          </li>



          <li class="nav-item dropdown myfloat" *ngIf="this.companyservice.isUserLogin()">
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" >
              <b class="fs-4">⚙</b>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="nav-link" (click)="onClick()" href="#" >Logout</a>
              </li>
              <li><a class="nav-link" [routerLink]="['change-password']" >Change password</a></li>
            </ul>
          </li>

          <li class="nav-item rightName" *ngIf="this.companyservice.isUserLogin()">
            <p class="nav-link"><b class="blue">Hello </b><b>{{this.user.getUserName()}}</b></p>
          </li>
          <!-- <li class="nav-item" *ngIf="this.companyservice.isUserLogin()">
            
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>