<div class="container">

    <div>
        <h1 class="pb-3 ">COMPANIES</h1>
        
        <input class="mb-3 rounded-pill px-2" type="text" name="search" [(ngModel)]="search" autocomplete="off"   placeholder= "🔍 Search Company" >
         
        <table class="table table-bordered  table-striped">
            <thead>
                <tr>
                <th>#</th>
                <th>Company Name</th>
                <th>Company Address</th>
                <th>Number of Employees</th>
                <th>Start Date</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let comp of companylist | filter:search; index as i ">
                <th>{{i+1}}</th>
                <td>{{comp.name}}</td>
                <td>{{comp.company_Address}}</td>
                <td>{{comp.num_Employee}}</td>
                <td>{{comp.start_Date}}</td>
                <td>
                    <button class="bg-dark text-light btn me-1" (click)="detailsCompany(comp)">Details</button>
                </td>
                </tr>
            </tbody>
        </table>   
    </div>

</div>
